{{ define "editor" }}
{{ template "inc_head" . }}
<script type="text/javascript" src="/javascript/geotag.maps.js"></script>
<script type="text/javascript" src="/javascript/geotag.camera.js"></script>
<script type="text/javascript" src="/javascript/geotag.camera.init.js"></script>
<script type="text/javascript" src="/javascript/geotag.editor.init.js"></script>
<link rel="stylesheet" type="text/css" href="/css/editor.css" />
{{ if .EnableOEmbed }}
<script type="text/javascript" src="/javascript/geotag.oembed.js"></script>
<script type="text/javascript" src="/javascript/geotag.oembed.init.js"></script>
<link rel="stylesheet" type="text/css" href="/css/oembed.css" />
{{ end }}
{{ if .EnablePlaceholder }}
<script type="text/javascript" src="/javascript/geotag.placeholder.js"></script>
<script type="text/javascript" src="/javascript/geotag.placeholder.init.js"></script>
<link rel="stylesheet" type="text/css" href="/css/placeholder.css" />
{{ end }}
{{ if .EnableWriter }}
<script type="text/javascript" src="/javascript/geotag.api.js"></script>
<script type="text/javascript" src="/javascript/geotag.writer.js"></script>
<script type="text/javascript" src="/javascript/geotag.writer.init.js"></script>
<link rel="stylesheet" type="text/css" href="/css/writer.css" />
{{ end }}
<div class="container">

    {{ if .EnableOEmbed }}    

    <div class="card">

	<div class="card-header">

	    <form class="form-inline">
		<input class="form-control mr-sm-2" type="search" name="oembed-url" id="oembed-url" placeholder="Enter a URL to retrieve" value="" aria-label="Fetch" size="30" />
		<button class="btn my-2 my-sm-0" type="submit" id="oembed-fetch">Fetch</button>
	    </form>
	</div>
	
	<div id="oembed-image" class="card-body"></div>
	<div class="card-footer" id="oembed-meta"></div>
    </div>
    
    {{ end }}
    
    <div class="card">

	<div class="card-header">

	    {{ if .EnablePlaceholder }}
	    <form class="form-inline">
		<input class="form-control mr-sm-2" type="search" name="placeholder-query" id="placeholder-query" placeholder="Enter a place name to search for" value="" aria-label="Search"/>
		<button class="btn my-2 my-sm-0" type="submit">Search</button>
	    </form>
	    <div id="placeholder-results"></div>
	    {{ end }}
	</div>
	
	<div id="map" class="card-body"></div>
	<div class="card-footer" id="output">
	    {{ if .EnableWriter }}
	    <button id="writer-save" class="btn btn-primary">Save</button>
	    {{ end }}
	    <div id="feature"></div>
	</div>
    </div>
    
</div>
{{ template "inc_foot" . }}
{{ end }}
