{{ define "editor" }}
{{ template "inc_head" . }}
<div class="container" id="editor">

    {{ if .EnableOEmbed }}    

    <div class="card oembed-card">

	<div class="card-header oembed-card-header">

	    <form class="form-inline">
		<input class="form-control mr-sm-2" type="search" name="oembed-url" id="oembed-url" placeholder="Enter a URL to retrieve" value="" aria-label="Fetch" size="30" />
		<button class="btn my-2 my-sm-0" type="submit" id="oembed-fetch">Fetch</button>
	    </form>
	</div>
	
	<div id="oembed-image" class="card-body oembed-card-body"></div>
	<div class="card-footer oembed-card-footer" id="oembed-meta"></div>
    </div>
    
    {{ end }}
    
    <div class="card">

	{{ if or .EnableWriter .EnablePlaceholder }}	
	<div class="card-header">

	    {{ if .EnableWriter }}
	    <button id="writer-save" class="btn btn-primary">Save</button>
	    {{ end }}
	    
	    {{ if .EnablePlaceholder }}
	    <form class="form-inline">
		<input class="form-control mr-sm-2" type="search" name="placeholder-query" id="placeholder-query" placeholder="Enter a place name to search for" value="" aria-label="Search"/>
		<button class="btn my-2 my-sm-0" type="submit">Search</button>
	    </form>
	    <div id="placeholder-results"></div>
	    {{ end }}	    
	</div>
	{{ end }}
	
	<div id="map" class="card-body"></div>
	<div class="card-footer" id="output">
	    <details>
		<summary>GeoJSON</summary>
		<div id="feature"></div>
	    </details>
	</div>
    </div>
    
</div>
{{ template "inc_foot" . }}
{{ end }}
