/* Tags */

body {
	background-color:#fff;
}

/* IDs */

#editor {
	display:grid;
	grid-template-columns:33% 33% 33%;
	margin-top:2rem;
}

#feature {
	min-height:80vh !important;	
	max-height:80vh !important;
	overflow:scroll;
	border:solid thin;
	font-family:monospace;
	font-size:small;
	padding:1rem;
}

#map {
	border: solid thin;
	width: 100%;
	height: 80vh;
}

#oembed-image img {
	width: -moz-available;
	height: -moz-available;	
}


/* Classes */

.col {
	// border: solid thin;
}

.leaflet-control-geotag-photo-camera img {
	vertical-align: top !important;
}

.leaflet-control-geotag-photo-crosshair img {
	vertical-align: top !important;
}

.oembed-form {
	padding:.5rem;
}

/* Media queries */

@media (max-width: 1240px) {

}

@media (max-width: 950px) {

	
}

@media (max-width: 900px) {
	
}

@media (max-width: 750px) {
	
}

@media (max-width: 320px) {

	
}

	
